body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgba(104,204,255,1) 0%, rgba(23,114,235,1) 100%);
}

form{
    margin-right: auto;
    margin-left: auto;
    margin-top: 6vmax;
    background-color: white;
    width: 26vmax;
    height: 57vmax;
    max-height: 550px;
    border-radius: 20px;
    text-align: center;
}
h3{
    padding: 6vmax 0px 10px;
    margin: 0;
    font-size: 1.5vmax;
}
span{
    color: blue;
}
input[class="text"] {
    width: 70%;
    padding: 15px 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid  rgb(101, 146, 217);
    font-size: 1.2vmax;
}
input[type="button"] {
    width: 75%;
    padding: 15px 10px;
    margin: 20px 0 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2vmax;
    cursor: pointer;;
    background: linear-gradient(77deg, rgba(136,174,230,1) 0%, rgba(127,171,240,1) 29%, rgba(11,105,245,1) 93%);

}
.text:focus {
    outline: none;
    border-bottom: 3px solid blue;
}
input[type=button] {
    outline: none;
}
input[type=button]:hover {
    background: rgb(136,174,230);
    background: linear-gradient(267deg, rgba(136,174,230,1) 0%, rgba(127,171,240,1) 29%, rgba(11,105,245,1) 93%);
}
a{
    display: inline-block;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.2vmax;
}
.forgot {
    color: black;
}
.acc {
    color: blue;
}